<!-- <app-navbar></app-navbar> -->
<!-- <div *ngIf="varflag==0;">
        <router-outlet></router-outlet> 
    
</div> -->
<!-- <div *ngIf="varflag==1;"> -->
    <!-- <app-navbar></app-navbar> -->
    <!-- <ng-template #even>
            <router-outlet></router-outlet>
    </ng-template>
   
    <div  else even;"> -->
     
        <app-navbar *ngIf="tt.activate"></app-navbar>
        <!-- <app-diaglab  *ngIf="tt.activate && tt.activate1"></app-diaglab> -->
        <router-outlet></router-outlet>
        <!-- <app-login *ngIf="false"> </app-login> -->
<!-- </div> -->
