<div id="c1">
    <!-- <button routerLink='../login' routerLinkActive="active"> submit</button> -->
<!-- <a routerLink='../login' routerLinkActive="active"> <img src="assets/adminimg.jpg"></a>
<a routerLink='./reg' routerLinkActive="active"> <img src="assets/userimg.jpg"></a> -->
<img src="assets/a1.png" style="background-color: black;">
<br>
<a routerLink='../login' routerLinkActive="active">login as user</a><br>
<a routerLink='../login2' routerLinkActive="active">login as diagnostic lab</a><br>
<a routerLink='../reg' routerLinkActive="active">register as user</a><br>
<a routerLink='../logreg' routerLinkActive="active">register as diagnostic lab</a>

</div>